*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}

body{
    background-color: #eb4d4b;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #fff;
    height: 200px;
    width: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    box-shadow: violet;
}

.frame{
    display: flex;
    gap: 3px;
}

h3{
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #130f40;
}

.hrs, .min, .sec, .ms, .colon{
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    color: #eb4d4b;
    font-family: digital-7;
}

.colon{
    width: 10px;
    height: 50px;
}

.buttons{
    margin-top: 25px;
}

.buttons button{
    display: inline-block;
    border: none;
    padding: 6px 20px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}

.start{
    background-color: #6ab04c;
}

.stop{
    background-color: #30336b;
}

.reset{
    background-color: #eb4d4b;
}

.start-active, .stop-active{
    pointer-events: none;
    opacity: 0.5;
}







